@import url("https://fonts.googleapis.com/css?family=Inter");

/* Global Styles */
:root {
  --gh-pattern-1: #fff4f9;
  --gh-pattern-2: #ffebf1;
  --gh-pattern-3: #ffe3d7;
  --gh-pattern-4: #ffe2b1;
  --gh-pattern-5: #ffea8b;

  --gh-green-1: #b9f3cd;
  --gh-green-2: #96ed85;
  --gh-green-3: #73e79c;
  --gh-green-4: #51e183;
  --gh-green-5: #2edc6b;
  --gh-green-6: #21c058;
  --gh-green-7: #1b9d48;
  --gh-green-8: #157a38;
  --gh-green-9: #0f5728;
  --gh-green-10: #062310;

  --gh-blue-0: #e3f1f7;
  --gh-blue-1: #e6ebff;
  --gh-blue-2: #a2ddf6;
  --gh-blue-3: #7dcff2;
  --gh-blue-4: #58c1ee;
  --gh-blue-5: #33b4eb;
  --gh-blue-6: #16a3df;
  --gh-blue-7: #1287ba;
  --gh-blue-8: #0f6c95;
  --gh-blue-9: #0a41fa;
  --gh-blue-10: #101068;

  --gh-grey-1: #dedede;
  --gh-grey-2: #adadad;
  --gh-grey-3: #a9a8a8;
  --gh-grey-4: #757575;
  --gh-grey-5: #666666;

  --gh-pink-1: #fff0f7;
  --gh-pink-2: #efa9ca;
  --gh-pink-3: #e986b4;
  --gh-pink-4: #e3649f;
  --gh-pink-5: #da3582;

  --gh-red-1: #e22452;
  --gh-red-2: #ce2727;
  --gh-red-3: #bc2424;
  --gh-red-4: #cd0000;

  --gh-yellow-1: #ffedc2;
  --gh-yellow-2: #f6e4be;
  --gh-yellow-3: #ffd470;
  --gh-yellow-4: #ffc847;

  --gh-orange-1: #ffbc1f;
  --gh-orange-2: #f5ab00;
  --gh-orange-3: #f9aa81;

  --gh-brown-1: #a37200;
  --gh-brown-2: #7a5600;
  --gh-brown-3: #523900;
  --gh-brown-4: #823d40;

  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 50px;
}

.header-text {
  font-weight: 700;
  letter-spacing: 0.1rem;
  opacity: 1;
  margin-top: 5px;
  color: var(--gh-blue-6);
}

.header-title {
  margin-top: 5px;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1;
  text-align: center;
}

.header-description {
  margin-top: 5px;
  width: 80%;
  text-align: center;
  opacity: 0.5;
  font-weight: 600;
}

.utility-blue-text {
  color: var(--gh-blue-6);
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .section {
    flex-direction: column;
    align-items: center;
  }
}

.plan1-container,
.plan2-container,
.plan3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 1px solid var(--gh-grey-1);
  border-radius: 0.5rem;
  margin: 20px;
  width: 270px;
}

.plan1-container {
  border-top: 0.4rem solid var(--gh-green-6);
}

.plan2-container {
  background-image: linear-gradient(
    135deg,
    var(--gh-green-7) 0%,
    var(--gh-blue-7) 100%
  );
}

.plan3-container {
  border-top: 0.4rem solid var(--gh-blue-6);
}

.plan-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan-middle-title,
.plan2-middle-title {
  text-align: center;
  font-weight: 600;
}

.plan-text1,
.plan2-text1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.plan-text2,
.plan2-text2 {
  font-weight: 700;
  font-size: 3rem;
}

.plan-text3,
.plan2-text3 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--gh-grey-2);
}

.plan2-text1,
.plan2-text2,
.plan2-text3 {
  color: #fff;
}

.plan1-middle-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

.plan-middle ul,
.plan2-middle ul {
  display: flex;
  flex-direction: column;
}

.plan-middle ul li,
.plan2-middle ul li {
  margin: 10px;
  text-align: center;
}

.plan2-middle {
  color: #fff;
}

.plan-button1,
.plan-button2,
.plan-button3 {
  color: #fff;
  padding: 10px 50px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600px;
  width: 190px;
  text-align: center;
  box-shadow: 0 5px #999;
}

.plan-button1 {
  background-color: var(--gh-green-7);
}
.plan-button1:active {
  background-color: var(--gh-green-9);
}

.plan-button2 {
  background-color: var(--gh-blue-5);
}
.plan-button2:active {
  background-color: var(--gh-blue-7);
}

.plan-button3 {
  background-color: var(--gh-blue-7);
}

.plan-button3:active {
  background-color: var(--gh-blue-8);
}

.plan-button1:active,
.plan-button2:active,
.plan-button3:active {
  box-shadow: 0 5px var(--gh-grey-4);
  transform: translate(4px);
}

.highlight {
  position: absolute;
  background: linear-gradient(
    135deg,
    var(--gh-blue-7) 0%,
    var(--gh-green-6) 100%
  );
  height: 0.5rem;
  left: 0px;
  right: 0px;
  top: 0px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}